

.player {
    stroke: darkgrey;
}

.player:hover {
    opacity: 0.5;
    cursor: pointer;
}

body{
    font-family: 'Avenir';
}
.country-text {
    font-family: "sans-serif";
    font-size: 0.2rem;
    text-anchor: middle;
}

.bar {
    fill: #1f441c;
}

.bar:hover {
    fill: #b31442;
}

.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}
.card-style{
    width: 36rem;
    margin-left: 1.3rem;
    margin-top: 0.1rem;
    box-shadow: 0 0 1px 0px black;
}
.card-style2{
    width: 37.5rem;
    margin-left: 0.6rem;
    box-shadow: 0 0 1px 0px black;
    margin-top: 0.1rem;
}

#figure2{
    display: none;
}

.arc path{
    stroke: #fff;
}


